<html>
<head>
    <title>Places You've Been!</title>
</head>
<body>
    <h1>List of places:</h1>

    {% if places is not empty %}
        <p>Here are the places you've been:</p>

        <ul>
            {% for place in places %}
            <ul><strong>{{ place.getDescription }}</strong>
                <br><img src="{{ place.getImage }}" height=150 length=300>
                <li>Date of Visit: {{ place.getDate }}</li>
                <li>Our Souvenir: {{ place.getSouvenir }}</li>
            </ul>
                <br>
            {% endfor %}

    {% endif %}

    <form action='/add_place' method='post'>
        <label for='description'>Place Description</label>
        <input id='description' name='description' type='text'>
        <br>

        <label for='date'>Date of Visit</label>
        <input id='date' name='date' type='text'>
        <br>

        <label for='souvenir'>My Specific Keepsake</label>
        <input id='souvenir' name='souvenir' type='text'>
        <br>

        <label for='photo'>A Photo from My Trip (URL)</label>
        <input id='photo' name='photo' type='text'>
        <br><br>

        <button type='submit'>Send My Data!</button>
    </form>

    <form action='/delete_places' method='post'>
        <button type='submit'>Erase Place List</button>
    </form>

</body>
</html>
